In [2]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join('../src/')))
from lidar_data_processor import Lidar_Processor

In [4]:
polygon_array= [446112.3120340019  , 4652575.060161518 , 447610.6998241764,4654067.900678839]
processor = Lidar_Processor(polygon_array , '../src/assets/pipeline_template.json', '../src/assets/metadata.csv', epsg=26915)
geo_df , tiff_file_path = processor.fetch_file()
geo_df

         elevation                        geometry
0           275.39  POINT (447619.533 4654049.612)
1           275.37  POINT (447617.716 4654049.247)
2           275.26  POINT (447613.814 4654049.587)
3           275.28  POINT (447615.579 4654049.952)
4           275.34  POINT (447620.956 4654051.053)
...            ...                             ...
1439566     285.32  POINT (446721.320 4652571.882)
1439567     285.54  POINT (446714.036 4652572.440)
1439568     285.47  POINT (446705.371 4652572.439)
1439569     285.51  POINT (446708.781 4652571.909)
1439570     285.09  POINT (446701.087 4652572.389)

[1439571 rows x 2 columns]